/* @import url(https://fonts.google.com/specimen/Cedarville+Cursive?query=cursive); */



header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.head-container {
  display: flex;
  justify-content: space-between;
}

#social-icons {

  flex-direction: row;
  gap: 5px;
}

#header-text {
  font-family: "Cedarville Cursive", cursive;
  font-size: 35px;
  text-align: justify;
  color: black;
}
#header-logo {
     font-family: ;
}