@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Yellowtail&display=swap");

header {
  padding-top: 10px;
  padding-bottom: 10px;
}
nav {
  display: block;
}
/* h1 {
     display: block;
     font-size: 2em;
     margin-top: 0.67em;
     margin-bottom: 0.67em;
     margin-left: 0;
     margin-right: 0;
     font-weight: bold;
} */

#header-logo {
  display: flex;
  flex-direction: row;
}
.head-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
}

#social-icons {
  flex-direction: row;
  gap: 5px;
}

#header-text {
  font-family: "Yellowtail", cursive;
  font-weight: bold;
  text-align: start;
  font-size: 29px;
  padding-left: 5px;

  color: black;
}
#logo-quote {
  font-size: 10px;
  align-content: flex-end;
  font-family: "Barlow", sans-serif;
  text-align: center;
 
  padding-left: 9px;
}
